Rplot.png
culturaSM.xlsx
culturasRotativas.xlsx
culturas_permanentes.png
culturas_rotativas.png
culturas_rotativas_Soja_Arroz.xlsx
culturas_santamaria.Rproj
grafico_rotativas.png
lin_do_temp_arroz_soja.png
soja_arroz.png
.Rproj.user
